---
const { titulo, descripcion, imagen, alt } = Astro.props;
---
<li class="bg-white w-[83%] rounded-2xl overflow-hidden border border-gray-900 h-full">
  <img src={imagen} alt={alt} class="w-full h-48 object-cover" loading="lazy" />
  <div class="p-4 flex flexco">
    <h3 class="text-xl font-semibold mb-2">{titulo}</h3>
    <p class="text-sm text-gray-600">{descripcion}</p>
  </div>
</li>